.map-container {
    width: 100%;
    height: 695px; 
}

#menu{
    top:1.5rem;
    left:4rem;
}

@media (max-width: 767px) {
    .map-container {
        width: 100%;
        height: 840px; 
    }
    
    #menu{
        top:4rem;
        left:1rem;
    }
}